.card-Container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}
.or {
  text-align: center;
  color: whitesmoke;
  font-size: 30px;
  margin: 0.5em 0em;
}
.img-container {
  position: relative;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
  box-shadow: 3px 3px 5px 1px rgba(54, 68, 94, 0.9);
}
.input-serch {
  border: none;
  padding: 13px 20px;
  width: 30%;
  border-bottom: 1px solid rgb(92, 92, 112);
  background-color: rgb(245, 244, 244);
  margin-left: 30vw;
  margin-top: 5vw;
  border-radius: 3px 0px 0px 3px;
  box-shadow: 3px 3px 5px 1px rgba(61, 82, 117, 0.9);
  font-size: 15px;
  font-weight: 550;
}
::placeholder {
  
  color: rgb(77, 77, 77);
}
.serch-Button {
  padding: 10px 30px;
  border-bottom: 1px solid rgb(92, 92, 112);
  background-color: rgb(86, 86, 104);
  border-radius: 3px;
  box-shadow: 3px 3px 5px 1px rgba(61, 82, 117, 0.9);
  font-size: 17px;
  font-weight: 550;
  &:hover {
    cursor: pointer;
    background-color: rgb(51, 51, 68);
  }
}
.input-serch1 {
   
  border: none;
  padding: 13px 20px;
  width: 30%;
  border-bottom: 1px solid rgb(92, 92, 112);
  background-color: rgb(245, 244, 244);
  margin-left: 30vw;
  border-radius: 3px 0px 0px 3px;
  box-shadow: 3px 3px 5px 1px rgba(61, 82, 117, 0.9);
  font-size: 15px;
  font-weight: 550;
}
::placeholder {
  color: rgb(77, 77, 77);
}
.serch-Button1 {
  padding: 10px 30px;
  border-bottom: 1px solid rgb(92, 92, 112);
  background-color: rgb(86, 86, 104);
  border-radius: 3px;
  box-shadow: 3px 3px 5px 1px rgba(61, 82, 117, 0.9);
  font-size: 17px;
  font-weight: 550;
  &:hover {
    cursor: pointer;
    background-color: rgb(51, 51, 68);
  }
}
